<html lang="fr">
<body>
<h1>Nouveau Post</h1>
<form action="/post/new" method="post">
    <label for="titre">Titre</label>
    <input id="titre" type="text" name="titre" placeholder="Titre"/>
    <label for="contenu">Contenu</label>
    <textarea id="contenu" name="contenu"></textarea>
    <input type="submit" value="créer"/>
</form>
</body>
</html>